<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description/>
    <keepDependencies>false</keepDependencies>
    <properties>
        <com.coravy.hudson.plugins.github.GithubProjectProperty>
            <projectUrl>https://github.com/nicosingh/wllab/</projectUrl>
        </com.coravy.hudson.plugins.github.GithubProjectProperty>
    </properties>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.SCMTrigger>
            <spec>* * * * *</spec>
            <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Maven>
            <targets>clean install</targets>
            <mavenName>maven-3.5.3</mavenName>
            <jvmOptions/>
            <usePrivateRepository>false</usePrivateRepository>
            <injectBuildVariables>true</injectBuildVariables>
        </hudson.tasks.Maven>
    </builders>
    <publishers/>
    <buildWrappers>
        <org.jfrog.hudson.maven3.ArtifactoryMaven3Configurator plugin="artifactory@2.16.1">
            <deployerDetails>
                <artifactoryName>artifactory-local</artifactoryName>
                <artifactoryUrl>http://artifactory:8081/artifactory</artifactoryUrl>
                <deployReleaseRepository>
                    <keyFromText/>
                    <keyFromSelect>libs-release-local</keyFromSelect>
                    <dynamicMode>false</dynamicMode>
                </deployReleaseRepository>
                <deploySnapshotRepository>
                    <keyFromText/>
                    <keyFromSelect>libs-snapshot-local</keyFromSelect>
                    <dynamicMode>false</dynamicMode>
                </deploySnapshotRepository>
                <resolveSnapshotRepository>
                    <keyFromText/>
                    <keyFromSelect/>
                    <dynamicMode>false</dynamicMode>
                </resolveSnapshotRepository>
                <resolveReleaseRepository>
                    <keyFromText/>
                    <keyFromSelect/>
                    <dynamicMode>false</dynamicMode>
                </resolveReleaseRepository>
                <stagingPlugin>
                    <pluginName/>
                    <paramMap/>
                </stagingPlugin>
                <userPluginKey/>
                <userPluginParams/>
            </deployerDetails>
            <resolverDetails>
                <artifactoryName>artifactory-local</artifactoryName>
                <artifactoryUrl>http://artifactory:8081/artifactory</artifactoryUrl>
                <deployReleaseRepository>
                    <keyFromText/>
                    <keyFromSelect>libs-release-local</keyFromSelect>
                    <dynamicMode>false</dynamicMode>
                </deployReleaseRepository>
                <deploySnapshotRepository>
                    <keyFromText/>
                    <keyFromSelect>libs-snapshot-local</keyFromSelect>
                    <dynamicMode>false</dynamicMode>
                </deploySnapshotRepository>
                <resolveSnapshotRepository>
                    <keyFromText/>
                    <keyFromSelect/>
                    <dynamicMode>false</dynamicMode>
                </resolveSnapshotRepository>
                <resolveReleaseRepository>
                    <keyFromText/>
                    <keyFromSelect/>
                    <dynamicMode>false</dynamicMode>
                </resolveReleaseRepository>
                <stagingPlugin>
                    <pluginName/>
                    <paramMap/>
                </stagingPlugin>
                <userPluginKey/>
                <userPluginParams/>
            </resolverDetails>
            <deployerCredentialsConfig>
                <credentials>
                    <username/>
                    <password/>
                </credentials>
                <credentialsId>artifactory-credentials</credentialsId>
                <overridingCredentials>false</overridingCredentials>
                <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
            </deployerCredentialsConfig>
            <resolverCredentialsConfig>
                <credentials>
                    <username/>
                    <password/>
                </credentials>
                <credentialsId/>
                <overridingCredentials>false</overridingCredentials>
                <ignoreCredentialPluginDisabled>false</ignoreCredentialPluginDisabled>
            </resolverCredentialsConfig>
            <deployArtifacts>true</deployArtifacts>
            <artifactDeploymentPatterns>
                <includePatterns/>
                <excludePatterns/>
            </artifactDeploymentPatterns>
            <includeEnvVars>false</includeEnvVars>
            <deployBuildInfo>true</deployBuildInfo>
            <runChecks>false</runChecks>
            <violationRecipients/>
            <includePublishArtifacts>false</includePublishArtifacts>
            <scopes/>
            <discardOldBuilds>false</discardOldBuilds>
            <discardBuildArtifacts>true</discardBuildArtifacts>
            <asyncBuildRetention>false</asyncBuildRetention>
            <deploymentProperties/>
            <enableIssueTrackerIntegration>false</enableIssueTrackerIntegration>
            <filterExcludedArtifactsFromBuild>true</filterExcludedArtifactsFromBuild>
            <enableResolveArtifacts>false</enableResolveArtifacts>
            <envVarsPatterns>
                <includePatterns/>
                <excludePatterns>*password*,*secret*,*key*</excludePatterns>
            </envVarsPatterns>
            <licenseAutoDiscovery>true</licenseAutoDiscovery>
            <disableLicenseAutoDiscovery>false</disableLicenseAutoDiscovery>
            <aggregateBuildIssues>false</aggregateBuildIssues>
            <aggregationBuildStatus/>
            <recordAllDependencies>false</recordAllDependencies>
            <blackDuckRunChecks>false</blackDuckRunChecks>
            <blackDuckAppName/>
            <blackDuckAppVersion/>
            <blackDuckReportRecipients/>
            <blackDuckScopes/>
            <blackDuckIncludePublishedArtifacts>false</blackDuckIncludePublishedArtifacts>
            <autoCreateMissingComponentRequests>true</autoCreateMissingComponentRequests>
            <autoDiscardStaleComponentRequests>true</autoDiscardStaleComponentRequests>
            <artifactoryCombinationFilter/>
            <customBuildName/>
            <overrideBuildName>false</overrideBuildName>
        </org.jfrog.hudson.maven3.ArtifactoryMaven3Configurator>
    </buildWrappers>
    <scm class="hudson.plugins.git.GitSCM">
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/nicosingh/wllab.git</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.com/nicosingh/wllab/</url>
        </browser>
    </scm>
</project>